# Create an OSEv3 group that contains the masters, nodes, and etcd groups
[OSEv3:children]
masters
nodes
etcd
nfs

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user='{{remote_linux_user}}'
ansible_sudo=true
ansible_become=true
openshift_disable_check=disk_availability,docker_storage,memory_availability

# If ansible_ssh_user is not root, ansible_become must be set to true
#ansible_become=true

openshift_deployment_type=openshift-enterprise

openshift_master_cluster_method=native
openshift_master_cluster_hostname=master.gce-ocp.demo-zone.dk
openshift_master_cluster_public_hostname=master.gce-ocp.demo-zone.dk
openshift_master_default_subdomain=app.gce-ocp.demo-zone.dk
openshift_master_api_port=443
openshift_master_console_port=443 


openshift_auth_type=allowall
openshift_master_identity_providers=[{'name': 'allow_all', 'login': 'true', 'challenge': 'true', 'kind': 'AllowAllPasswordIdentityProvider'}]

openshift_logging_install_logging=true
openshift_metrics_install_metrics=true

# fix for https://github.com/openshift/openshift-ansible/issues/8717
oreg_url=registry.access.redhat.com/openshift3/ose-${component}:${version}
openshift_examples_modify_imagestreams=true

#config for nfs
openshift_hosted_etcd_storage_kind=nfs
openshift_hosted_etcd_storage_nfs_options="*(rw,root_squash,sync,no_wdelay)"
openshift_hosted_etcd_storage_nfs_directory=/opt/osev3-etcd 
openshift_hosted_etcd_storage_volume_name=etcd-vol2 
openshift_hosted_etcd_storage_access_modes=["ReadWriteOnce"]
openshift_hosted_etcd_storage_volume_size=1G
openshift_hosted_etcd_storage_labels={'storage': 'etcd'}

# fix for ansible service catalog
openshift_service_catalog_image_version=v3.10

# host group for masters
[masters]
{% for host in masters %}
{{ host }}
{% endfor %}

# host group for nfs
[nfs]
{% for host in masters %}
{% if loop.first %}
{{ host }}
{% endif %}
{% endfor %}

# host group for etcd
[etcd]
{% for host in masters %}
{{ host }}
{% endfor %}

# host group for nodes, includes region info
[nodes]
{% for host in masters %}
{{ host }} openshift_node_group_name='node-config-master'
{% endfor %}

{% for host in infra_nodes %}
{{ host }} openshift_node_group_name='node-config-infra'
{% endfor %}

{% for host in app_nodes %}
{{ host }} openshift_node_group_name='node-config-compute'
{% endfor %}
